<html>
    <head>
        <title>MFA Issue Tracker</title>
    </head>
    <body>
            <xml src="res/main.xml"></xml>
            <h1 style="background-color:#000000;
                color:#FFFFFF; font-size:20pt; text-align:center;
                letter-spacing: 12pt">
                Analyst Tracker
            </h1>
            <table>
                <tr>
                    <td><span datafld="usrMail"></span></td>
                    <td><span datafld="DL"></span></td>
                </tr>
            </table>
    </body>
</html>